services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: telegram-depiler
    volumes:
      - ./downloads:/app/downloads
      - ./data:/app/data
    ports:
      - "8001:8000"
    network_mode: bridge
    extra_hosts:
      - "host.docker.internal:host-gateway"

